
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Form</title>
</head>
<style>
    form{
        text-align: center;
    }
</style>
<body>
<h1 style="text-align: center;">Word Counter of WebPage source file</h1>
   <form action="http://localhost:5000/send" method="post">
       <p>Enter a URL:</p>
       <br/>
       <input type="text" name="url">
       <br/>
       <input type="submit" value="Submit" name="submit">
   </form>

</body>
</html>